<h1><%= @page_title %></h1>
 <h2>
      Manager Library with Ruby on Rails.
 </h2>
     <p>Project for Worker-Intership.</p>
     <p> Framgia Com.</p>
     <p> References : Google,GitHub,Rails Tutorial Book.....</p>
     <p> Member of Team one:

      <p>- Luong Thanh Phuc</p>
      <p>- Hoang Van Phung</p>
      <p>- Le Anh Phuong</p>
      <p>- Nguyen Quang Khang</p>
     <p> - Tran Van Thinh</p>
     </p>
